.Header {
  font-family: sans-serif;
  text-align: center;
  background-color: bisque;
}
.Queries {
  text-align: center;
  margin: 20px;
}
.gender {
  margin: 20px;
  padding: 5px;
  width: 100px;
}
.Country {
  margin: 20px;
  padding: 5px;
  width: 100px;
}
.result {
  margin: 20px;
  padding: 5px;
  width: 100px;
}
button {
  margin: 20px;
  padding: 5px;
  width: 100px;
}
.details {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: burlywood;
}
